

<% include ./particles/boilerpoint.ejs %>
<button type="button" class="btn btn-lg" onclick="window.location.href='/playlists'">Click to create Playlists of the lyrics of all your favorite songs!!</button>
<% include ./particles/footer.ejs %>
</div>