<div class='home'>
<% include ./particles/boilerpoint.ejs %>
<button type="button" class="btn btn-primary" onclick="window.location.href='/playlists'">See Playlists!!</button>
<% include ./particles/footer.ejs %>
</div>