<% include ../particles/boilerpoint.ejs %>
<h2>Playlists</h2>
<% for(let playlist of data) { %>
	<div class='playlist border w-20 p-3 d-inline-block'>
		<h3><%= playlist.name %></h3>
		<a href='/playlists/<%= playlist.id %>'>See Tracks</a>
		<form method='POST' action='/playlists/<%= playlist.id %>?_method=Delete'>
			<input class="btn btn-primary" type='submit' value='Delete Playlist'/>
		</form>
	</div>
<% } %>

<a href='/playlists/new'>Create new Playlist</a>

<% include ../particles/footer.ejs %>