<% include ../particles/boilerpoint.ejs %>

<form method='POST' action='/playlists/<%= data.id %>?_method=PUT'>
	<input name='id' type='hidden' value='<%= data.id %>'/>
	<input name='name' type='text' value='<%= data.name %>'/>
	<input type="submit" value="Edit">
</form>

<% include ../particles/footer.ejs %>