<% include ../particles/boilerpoint.ejs %>

<form method='POST' action='/playlists'>
	<input name='name' type='text' placeholder='Name of New Playlist'>
	<input type="submit" value="Submit">
</form>

<% include ../particles/footer.ejs %>