* {
	text-align: center;
}

.intro {
	position: relative;
}

.home {
	position: relative;
	top: 200px;
}

h1 {
	background: url('https://s3.envato.com/files/44226346/Prew.jpg');
	width: 100%;
	height: 50px;
}

footer {
	background: url('https://s3.envato.com/files/44226346/Prew.jpg');
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.track {
	position: relative;
	top: 30px;
}

iframe {
}

.back-playlist {
	position: relative;
}

.lyrics {
	position: relative;
}
